
<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-bottom affix">
    <div class="container" style="text-align: center;">
      <div class="btn dropup">
        <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pre-Processamento</button>
        </button>
        <ul class="dropdown-menu" id="dispDD">
          <div class="btn" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input id="exDisp-enabled" type="radio" autocomplete="off"> Dispersão
            </label>

            <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" data-slider-enabled="false"/>
            <input id="ex2" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" data-slider-enabled="false"/>
            <li role="separator" class="divider"></li>
            <label class="btn btn-primary active">
              <input id="exVar-enabled" type="radio" autocomplete="off"> Variância
            </label>
            <input id="ex3" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" data-slider-enabled="false"/>
            <input id="ex4" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" data-slider-enabled="false"/>
            <li role="separator" class="divider"></li>
            <label class="btn btn-primary active">
              <input id="exMed-enabled" type="checkbox" autocomplete="off"> Mediana
            </label>
            <input id="ex5" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" data-slider-enabled="false"/>
          </div>
        </ul>
      </div>
      <div class="btn dropup">
        <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Watershed</button>
        </button>
        <ul class="dropdown-menu">
          <div class="btn" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input id="watershedIME-enabled" type="radio" autocomplete="off"> Watershed IME
            </label>
            <input id="ex8" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" data-slider-enabled="false"/>
            <label class="btn btn-primary active">
              <input id="watershedOpencv-enabled" type="radio" autocomplete="off"> Watershed OpenCV
            </label>
          </div>
        </ul>
      </div>
      <div class="btn dropup">
        <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pos-Processamento</button>
        </button>
        <ul class="dropdown-menu">
          <div class="btn" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input id="exMerge-enabled" type="checkbox" autocomplete="off"> Region Merge
            </label>
            <input id="ex6" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" data-slider-enabled="false"/>
            <input id="ex7" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" data-slider-enabled="false"/>
          </div>
        </ul>
      </div>
      <button type="button" class="btn btn-info">Aplicar</button>
      <button type="button" class="btn btn-warning">Reset</button>
      <button type="button" class="btn btn-success">Salvar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>

    </div>
    <!-- /.container-fluid -->
</nav>

<script type="text/javascript">
  $("#exDisp-enabled").click(function() {
    if(this.checked) {
      // With JQuery
      $("#ex1").slider("enable");
      $("#ex2").slider("enable");
      $("#ex3").slider("disable");
      $("#ex4").slider("disable");

    }
  });

  $("#exVar-enabled").click(function() {
    if(this.checked) {
      // With JQuery
      $("#ex3").slider("enable");
      $("#ex4").slider("enable");
      $("#ex1").slider("disable");
      $("#ex2").slider("disable");

    }
  });

  $("#watershedIME-enabled").click(function() {
    if(this.checked) {
      // With JQuery
      $("#ex8").slider("enable");
    }
  });

  $("#watershedOpencv-enabled").click(function() {
    if(this.checked) {
      // With JQuery
      $("#ex8").slider("disable");
    }
  });

  $("#exMed-enabled").click(function() {
    if(this.checked) {
      // With JQuery
      $("#ex5").slider("enable");
    }
    else {
      // With JQuery
      $("#ex5").slider("disable");
    }
  });

  $("#exMerge-enabled").click(function() {
    if(this.checked) {
      // With JQuery
      $("#ex6").slider("enable");
      $("#ex7").slider("enable");
    }
    else {
      // With JQuery
      $("#ex6").slider("disable");
      $("#ex7").slider("disable");
    }
  });

  $('#ex1').slider({
    formatter: function(value) {
      return 'Janela Atual: ' + value;
    }
  });

  $('#ex2').slider({
    formatter: function(value) {
      return 'Threshold Atual: ' + value;
    }
  });

  $('#ex3').slider({
    formatter: function(value) {
      return 'Janela Atual: ' + value;
    }
  });

  $('#ex4').slider({
    formatter: function(value) {
      return 'Threshold Atual: ' + value;
    }
  });

  $('#ex5').slider({
    formatter: function(value) {
      return 'Janela Atual: ' + value;
    }
  });

  $('#ex6').slider({
    formatter: function(value) {
      return 'Janela Atual: ' + value;
    }
  });

  $('#ex7').slider({
    formatter: function(value) {
      return 'Threshold Atual: ' + value;
    }
  });

  $('#ex8').slider({
    formatter: function(value) {
      return 'Janela Atual: ' + value;
    }
  });

  $('.dropdown-menu').click(function(e) {
    e.stopPropagation();
  });

  // $('#dispDD').hover(function(){
  //   $('#dispDD').dropdown('toggle')
  // });
</script>
