
<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-bottom affix">
    <div class="container" style="text-align: center;">
      <div class="btn dropup keep-open">
        <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pre-Processamento</button>
        </button>
        <ul class="dropdown-menu" id="dispDD">
          <div class="btn" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input id="exDisp-enabled" type="checkbox" autocomplete="off"> Dispersão
            </label>

            <input id="dispJ" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="20" data-slider-step="2" data-slider-value="3" data-slider-enabled="false"/>
            <input id="dispT" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="40" data-slider-step="1" data-slider-value="14" data-slider-enabled="false"/>
            <li role="separator" class="divider"></li>
            <label class="btn btn-primary active">
              <input id="exVar-enabled" type="checkbox" autocomplete="off"> Variância
            </label>
            <input id="varT" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" data-slider-enabled="false"/>
            <input id="varJ" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" data-slider-enabled="false"/>
            <li role="separator" class="divider"></li>
            <label class="btn btn-primary active">
              <input id="exMed-enabled" type="checkbox" autocomplete="off"> Mediana
            </label>
            <input id="medJ" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14" data-slider-enabled="false"/>
          </div>
        </ul>
      </div>
      <div class="btn dropup keep-open">
        <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Watershed</button>
        </button>
        <ul class="dropdown-menu">
          <div class="btn" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input id="watershedIME-enabled" type="checkbox" autocomplete="off"> Watershed IME
            </label>
            <label class="btn btn-primary active">
              <input id="watershedOpencv-enabled" type="checkbox" autocomplete="off"> Watershed OpenCV
            </label>
          </div>
        </ul>
      </div>
      <div class="btn dropup keep-open">
        <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pos-Processamento</button>
        </button>
        <ul class="dropdown-menu">
          <div class="btn" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input id="exMerge-enabled" type="checkbox" autocomplete="off"> Region Merge
            </label>
            <input id="merT" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20000" data-slider-step="1" data-slider-value="14" data-slider-enabled="false"/>
            <input id="merR" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="1" data-slider-enabled="false"/>
          </div>
        </ul>
      </div>
      <button id="apply" type="button" class="btn btn-info">Aplicar</button>
      <button id="undo" type="button" class="btn btn-info" style="display:none;">UNDO</button>
      <button id="redo" type="button" class="btn btn-info" style="display:none;">REDO</button>
      <div id="save_container" class="btn dropup keep-open">
        <button type="button" class="btn btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Salvar</button>
        </button>
        <ul class="dropdown-menu">
          <div class="btn" data-toggle="buttons">
            <span>Nome: </span>
            <input id="nome_processamento" type="text"/>
            <label class="btn btn-primary active">
              <input id="save" type="checkbox" autocomplete="off">Salvar</input>
            </label>
          </div>
        </ul>
      </div>

      <%= link_to 'Cancelar', images_path, class:"btn btn-danger", style: "color:#fff;" %>

    </div>
    <!-- /.container-fluid -->
</nav>

<script type="text/javascript">
  $("#exDisp-enabled").click(function() {
    if(this.checked) {
      // With JQuery
      $("#dispT").slider("enable");
      $("#dispJ").slider("enable");
      $("#varT").slider("disable");
      $("#varJ").slider("disable");
      $("#exVar-enabled")[0].checked = false;


    }
  });

  $("#exVar-enabled").click(function() {
    if(this.checked) {
      // With JQuery
      $("#varT").slider("enable");
      $("#varJ").slider("enable");
      $("#dispT").slider("disable");
      $("#dispJ").slider("disable");
      $("#exDisp-enabled")[0].checked = false;

    }
  });

  $("#watershedIME-enabled").click(function() {
    if(this.checked) {
      // With JQuery
      $("#watT").slider("enable");
      $("#watershedOpencv-enabled")[0].checked = false;
    }else{
      $("#watT").slider("disable");
    }
  });

  $("#watershedOpencv-enabled").click(function() {
    if(this.checked) {
      // With JQuery
      $("#watT").slider("disable");
      $("#watershedIME-enabled")[0].checked = false;
    }
  });

  $("#exMed-enabled").click(function() {
    if(this.checked) {
      // With JQuery
      $("#medJ").slider("enable");
    }
    else {
      // With JQuery
      $("#medJ").slider("disable");
    }
  });

  $("#exMerge-enabled").click(function() {
    if(this.checked) {
      // With JQuery
      $("#merT").slider("enable");
      $("#merR").slider("enable");
      $("#merJ").slider("enable");
    }
    else {
      // With JQuery
      $("#merT").slider("disable");
      $("#merR").slider("disable");
      $("#merJ").slider("disable");
    }
  });

  $('#dispT').slider({
    formatter: function(value) {
      return 'Threshold Atual: ' + value;
    }
  });

  $('#dispJ').slider({
    formatter: function(value) {
      return 'Janela Atual: ' + value;
    }
  });

  $('#varT').slider({
    formatter: function(value) {
      return 'Janela Atual: ' + value;
    }
  });

  $('#varJ').slider({
    formatter: function(value) {
      return 'Threshold Atual: ' + value;
    }
  });

  $('#medJ').slider({
    formatter: function(value) {
      return 'Janela Atual: ' + value;
    }
  });

  $('#merT').slider({
    formatter: function(value) {
      return 'Threshold Atual: ' + value;
    }
  });

  $('#merR').slider({
    formatter: function(value) {
      return 'Numero de Repeticoes Atual: ' + value;
    }
  });

  $('.dropdown-menu').click(function(e) {
    e.stopPropagation();
  });

  $('.dropup.keep-open').on({
      "shown.bs.dropdown": function() { this.closable = false; },
      "click":             function() { this.closable = true; },
      "hide.bs.dropdown":  function() { return this.closable; }
  });

  // $('#dispDD').hover(function(){
  //   $('#dispDD').dropdown('toggle')
  // });
</script>
